@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');


*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --White-color: hsl(0, 0%, 100%);
    --Lightgray-color: hsl(212, 45%, 89%);
    --Grayishblue-color: hsl(220, 15%, 55%);
    --Darkblue-color: hsl(218, 44%, 22%);
    font-family: "Outfit", sans-serif; 
}

#wrapper{
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--Lightgray-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container{
    /* padding: 10px; */
    /* padding-top: 25px; */
    padding-top: 10px;
    width: 18%;
    height: 450px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.qr-code-image-container{
    width: 90%;
    border-radius: 8px;
    aspect-ratio: 1/1;
}
.qr-code-image-container img{
    width: 100%;
    border-radius: 8px;
    aspect-ratio: 1/1;
}

.para1{
    text-align: center;
    width: 86%;
    font-size: 18px;
    color: var(--Darkblue-color);
    font-weight: 700;
    /* font-size: 15px; */
    /* width: 40%; */
}

.para2{
    padding: 5px;
    text-align: center;
    font-size: 15px;
    color: var(--Grayishblue-color);
    font-weight: 400;
    width: 101%;
}
 @media  (max-width : 376px) {
    .content-container{
        width: 80%;
    }
 }